<form action="/users/create-session" method="POST" >


    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" placeholder="write your email" required/><br>


    <label for="password">Password</label><br>
    <input type="password" id="password" name="passworrd" placeholder="write your password" requirede/><br>

    <button type="submit">signIn</button>
    
</form>