<form action="" method="post" id="signin">


    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" placeholder="write your email"/>


    <label for="password">Email</label><br>
    <input type="password" id="password" name="email" placeholder="write your password"/>

    <button type="submit">signIn</button>
    
</form>