<!-- <link rel="stylesheet" href='/css/sign.css'>
<link rel="stylesheet" href='/css/signup.css'> -->
<form action="/users/create" method="POST" >

 
    <input type="text"  name="name" placeholder="write your name" required/><br>

    
    <input type="email"  name="email" placeholder="write your email" required/><br>


    
    <input type="password"  name="password" placeholder="write your password" required/><br>

    
    <input type="text"  name="c_password" placeholder=" confirm password" required/><br>

    <input type="submit" value="Sign Up">
    
</form>